aiohttp
asn1crypto
async-timeout
attrs
backcall
certifi
cffi
chardet
cryptography
DateTime
decorator
discord-py-slash-command
discord.py
entrypoints
idna
ipython
ipython-genutils
jedi
keyring
keyrings.alt
matplotlib-inline
multidict
parso
pathlib
pexpect
pickleshare
ply
prompt-toolkit
ptyprocess
pycparser
Pygments
pytz
pyxdg
requests
SecretStorage
six
traitlets
typing-extensions
urllib3
wcwidth
yarl
zope.interface
