aiohttp==3.7.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cryptography==2.6.1
DateTime==4.3
decorator==5.0.9
discord-py-slash-command==1.1.2
discord.py==1.6.0
entrypoints==0.3
idna==2.10
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
keyring==17.1.1
keyrings.alt==3.1.1
matplotlib-inline==0.1.2
multidict==5.1.0
parso==0.8.2
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
pycrypto==2.6.1
Pygments==2.9.0
pytz==2020.5
pyxdg==0.25
requests==2.25.1
SecretStorage==2.3.1
six==1.12.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
yarl==1.6.3
zope.interface==5.2.0
